.grid {
    display: flex;
    align-items: stretch;
    height: 100vh;

    app-sidebar {
        width: 18%;
        min-width: 270px;
    }

    app-main {
        overflow: auto;
        width: 82%;
    }
}