.full-screen {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #CAE9FF;
}

main {
    padding: 1rem;
    border-radius: 0.35rem;

    display: flex;
    align-items: center;
    background-color: #fff;
}

.form {
    margin-left: 3rem;
}