<div class="d-flex align-items-center justify-content-between">
    <h2># {{testDetails?.title}}</h2>
    <button type="button" class="btn btn-primary" (click)="copyLink()"><i class="fa-regular fa-clipboard"></i> Copy Link</button>
</div>
<div class="details my-3 p-3 rounded border">
    <table class="table">
        <tbody>
            <tr>
                <th scope="row">Description:</th>
                <td>{{testDetails?.description}}</td>
            </tr>
            <tr>
                <th scope="row">No. of Questions:</th>
                <td>{{testDetails?.numberOfQuestions}}</td>
            </tr>
            <tr>
                <th scope="row">Total Marks:</th>
                <td>{{testDetails?.totalMarks}}</td>
            </tr>
            <tr>
                <th scope="row">Passing Marks:</th>
                <td>{{testDetails?.passingMarks}}</td>
            </tr>
        </tbody>
    </table>
</div>
<div class="questions">
    <h4>Questions:</h4>
    <ng-container *ngFor="let question of questions">
        <div class="m-3 p-3 rounded bg-primary bg-opacity-10">
            <div class="row mb-2">
                <div class="col-6">Langauge: {{question?.language}}</div>
                <div class="col-6">Marks: {{question?.marks}}</div>
            </div>
            <div class="mb-2">
                {{question?.questionText}}
            </div>
        </div>
    </ng-container>
</div>