<aside>
    <div class="brand">
        <h1>CodeMaster</h1>
    </div>
    <ul>
        <li *ngFor="let route of routes" class="tab" (click)="goTo(route.path)">
            <span class="icon" [innerHtml]="route.icon"></span>
            {{route.title}}
        </li>
        <li class="tab" *ngIf="isAdmin" [routerLink]="['/admin/teachers']"><span class="icon"><i class="fa-solid fa-user"></i></span>Teachers</li>
        <li class="tab" *ngIf="isAdmin" [routerLink]="['/admin/students']"><span class="icon"><i class="fa-solid fa-users"></i></span>Students</li>
        <li class="tab" (click)="logout()"><span class="icon"><i class="fa-solid fa-right-from-bracket"></i></span>Logout</li>
    </ul>
</aside>