<div class="d-flex align-items-center justify-content-between">
    <h2>Teachers List</h2>
    <button class="btn btn-primary my-2" [routerLink]="['/admin/add-teacher']"><i class="fa-solid fa-plus"></i> Add new teacher</button>
</div>

<div class="container">
    <ng-container *ngFor="let teacher of teachers">
        <div class="bg-primary bg-opacity-10 m-3 p-2 rounded">
            <div class="mb-2">
                {{teacher.firstName}} {{teacher.lastName}}
            </div>
            <div class="d-flex justify-content-between">
                <div>Email: {{teacher.email}}</div>
                <div>Password: {{teacher.password}}</div>
            </div>
        </div>
    </ng-container>
</div>